<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adrianapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.hizyaz.adrianapp.utils.GlobalVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hizyaz.adrianapp.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hizyaz.adrianapp.activities.VideosActivity"
            android:label="@string/title_activity_videos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hizyaz.adrianapp.activities.UploadVideoActivity"
            android:label="@string/title_activity_upload"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hizyaz.adrianapp.activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.hizyaz.adrianapp.activities.RegisterActivity" />
        <activity
            android:name="com.hizyaz.adrianapp.activities.ContactUs"
            android:label="@string/title_activity_contactus"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>